{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {%endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>

    <header>
    <div class="heading">
        <img title="logo" class="logo" src="{% static "\blog-images\logo.png" %}" alt="Logo">
        <p class="prop">Property Solutions</p>
        <i class="solving">Solving the issue of housing deficit in Nigeria......</i>
    </div>
</header>
        <div class="foott3">
            <p><a style="color:#ffff"href="http://127.0.0.1:8000/blog/"class="foott2">Home |</a></p>
            <p><a style="color:#ffff"href="http://127.0.0.1:8000/blog/about/"class="foott2" >About Us |</a></p>
            <p><a style="color: #ffff;" href="#"class="foott2">Contact us</a></p>
        </div>
    <br>
    <center class="sub-head">
        <a href="http://127.0.0.1:8000/blog/search/">
        <button class="search" type="search"> 🔎 Search article
            </a>
        </button>
    </center>

    <div class="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <div id="sidebar">
            <h2>My blog</h2>
            <marquee>This is my blog. We have published {% total_posts %} posts so far.</marquee>
            <h3>Latest posts</h3>
            {% show_latest_posts 3 %}
            <h3>Most Commented</h3>
            {% get_most_commented_posts %}
        </div> 
    </div>

    <div class="newsletter">
        <h2 class="subs">SUBSCRIBE TO OUR NEWSLETTER:</h2>
        <input class="emailnews" type="email" placeholder="Enter your email">
    </div>
    
    <footer>
        <!-- <div class="foot">
            <img class="logo" src="{% static "\blog-images\logo.png" %}" alt="Logo">
            <p class="prop2"> Property Solutions</p>
        </div> -->
        <div class="foot3">
            <h2 style="color: #412867;">A quick one:</h2>
            <p>
                Real estate has been proven as one of
                the most reliable and profitable forms 
                of investment over time. Unlike other 
                investment options,real estate offers 
                tangible assets in the form of properties, 
                which can appreciate in value and generate
                regular rental income. The demand for real
                estate remain strong due to population growth 
                and urbanization, making it a stable investment choice. 
            </p>
            <!-- <p>
                Additionally,real estate provides a hedge against 
                inflation,as property values tend to rise along with 
                the cost of living.However,successful real estate 
                investment requires careful research, market analysis, 
                and understanding of local regulations.With proper due 
                diligence and strategic planning, real estate investment 
                can offer long-term wealth creation and financial security. 
            </p> -->
        </div>

        <div>
            <ul class="Our-company">
                <h3 style="color: #412867;">Our company</h3>
                <li> <a href="http://127.0.0.1:8000/blog/about/">About us</a></li>
                <li><a href="http://127.0.0.1:8000/blog/terms/">Terms and conditions</a></li>
                <li><a href="http://127.0.0.1:8000/blog/privacy-policy">Privacy policy</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="http://127.0.0.1:8000/blog">Home</a></li>
            </ul>
        </div>

        <div>
            <ul class="Our-company">
                <h3 style="color: #412867;">Social Media</h3>
                <li><a href="http://www.facebook.com" target="_blank">Facebook</a></li>
                <li><a href="http://www.twitter.com/therealOFN1" target="_blank"> Twitter</a></li>
                <li>Github</li>
                <li>Linkedln</li>
                <li>Instagram</li>
            </ul>
        </div>

        <div>
            <ul class="Our-company">
                <h3 style="color: #412867;">Other Real estate companies</h3>
                <li><a href="http://www.homlandgroup.com" target="_blank">homlandgroup.com</a></li>
                <li><a href="http://www.naijahouses.com" target="_blank">Naijahouses.com</a></li>
                <li></li>
                <!-- <li>Linkedln</li>
                <li>Instagram</li> -->
            </ul>
        </div>
    </footer>

    <div class="foot2">
        <div class="foot4">
          <p><a style="color:#ffff" href="http://127.0.0.1:8000/blog/" class="foott2">Home</a></p>
          <p><a style="color:#ffff" href="http://127.0.0.1:8000/blog/terms/" class="foott2">Terms and conditions</a></p>
          <p><a style="color:#ffff" href="http://127.0.0.1:8000/blog/privacy-policy" class="foott2">Privacy Policy</a></p>
          <p><a style="color:#ffff" href="http://127.0.0.1:8000/blog/about/" class="foott2">About Us</a></p>
        </div>

        <ul class="ul-foot">
          <li>&copy;2023 |</li>
          <li>ABtpropertysolutions.com |</li>
          <li>All Rights Reserved.</li>
        </ul>
      
    </div>
      
</body>
</html>