{% extends "blog/base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<h1>Privacy Policy:</h1>

<div class="privacy">
        This Privacy Policy is subject to the terms of the Site Policy (User Agreement) of ABt Property Solutions. It is effective from the date and time a user registers with ABt Property Solutions by filling up the Registration form and accepting the terms and conditions in the Site Policy.

To provide a personalized browsing experience, ABt Property Solutions may collect personal information from you. Some websites may require you to complete a registration form or provide information to deliver relevant content.

For this personalized experience, ABt Property Solutions may track your computer's IP address and save certain information as cookies. You can choose to accept or decline cookies by adjusting your browser settings.

Personal information provided by users will not be shared with third parties without prior consent. However, general information may be disclosed to external parties.

We strive to keep user-provided information safe and display it on the website only after obtaining consent. Users browsing the site generally don't need to disclose their identity until registration.

Users have the option not to provide non-mandatory information. You are responsible for maintaining the confidentiality of your user password and identification.

ABt Property Solutions may use personal information to improve marketing efforts, analyze site usage, and customize the site's content and services.

By accepting the User Agreement and Privacy Policy, you agree to receive targeted communications from ABt Property Solutions. If you don't wish to receive these, you can opt-out in your profile settings.

All ABt Property Solutions websites comply with Nigerian Cybersecurity Laws. We cooperate with law enforcement inquiries and may disclose personal details in response to legitimate requests.

Privacy is best guaranteed by working with law enforcement authorities.
</div>
{% endblock %}