{% extends "blog/base.html" %}

{% block title %}Terms and conditions{% endblock %}

{% block content %}
<h1>Terms and Conditions: </h1>

<div class="terms">
    <ol>
            ABt Property Solutions - Terms and Conditions
            
            Welcome to ABt Property Solutions, an online information and communications service provided to you in Nigeria. By accessing or using ABt Property Solutions, you agree to comply with the following terms and conditions:
            
            <li>Amendment and Modification: ABt Property Solutions may modify these terms at any time, and any changes will be effective immediately upon posting on the website. </li>
            
            <li>User Agreement: This agreement constitutes a legally binding contract between ABt Property Solutions and the user.</li>
            
            <li>Access and Usage: By using ABt Property Solutions, you agree to adhere to the terms and conditions set forth here. If you have any questions, contact us at (info@abtpropertysolutions.com).</li>
            
            <li>Ownership and License: ABt Property Solutions grants users a limited, non-exclusive, non-assignable, and revocable license to access and use the services, subject to compliance with the agreement.</li>
            
            <li>Submission of Listings/Advertisements: Users must obtain necessary rights and authorizations to submit property information or photographs. ABt Property Solutions reserves the right to terminate access for inconsistent usage.</li>
            
            <li>Payment Terms: Payments for services are on a 100% advance basis and non-refundable, subject to our discretion. We offer no guarantees for refunds reaching users' accounts.</li>
        
            <li>Intellectual Property Rights: All trademarks and marks on ABt Property Solutions are the property of ABt Property Solutions and its associates, and unauthorized use is strictly prohibited.</li>
            
            <li>Use of Information: Users agree to treat all information obtained from ABt Property Solutions as proprietary. Content reserved for members shall remain confidential.</li>
            
            <li>Prohibitions: Users shall not impair ABt Property Solutions' interests, interfere with system security, or violate laws. Infringement of intellectual property rights is strictly prohibited.</li>
            
            <li>Links to Third-Party Websites: ABt Property Solutions may provide links to other websites but makes no representations about them.</li>
            
            <li>Disclaimer and Warranties: Content on ABt Property Solutions is provided "as is," and we disclaim all warranties and representations, including accuracy and completeness.</li>
            
            <li>Limitation of Liability: ABt Property Solutions will not be liable for damages arising from the use or inability to use the website or its content.</li>
            
            <li>Termination: ABt Property Solutions may terminate access without notice if users violate the terms and conditions.</li>
            
            <li>Indemnification: Users agree to defend and hold ABt Property Solutions harmless from any claims resulting from their use of the website.</li>
            
            <li>Privacy Policy: Users are subject to ABt Property Solutions' Privacy Policy.</li>
            
            <li>Arbitration: Any disputes will be referred to a sole arbitrator identified by ABt Property Solutions.</li>
            
            <li>Severability of Provisions: If any provision of these terms is deemed invalid, it will not affect the enforceability of other provisions.</li>
            
            <li>Waiver: ABt Property Solutions' failure to enforce any provision does not constitute a waiver of the right to enforce it later.</li>
            
            <li> Violations: Please report any violations of these terms to ABt Property Solutions at info@abtpropertysolutions.com.</li>
    </ol>
</div>

{% endblock %}